@import "../variables";

.hnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 12px auto;

  &__items {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  &__item {
    @include reset-a;
    @include fontset($poppins, 24px, 500, inherit);

    text-transform: uppercase;
    margin-left: 98px;

    &:hover {
      color: $primary-blue;
    }
  }
}

.logo {
  @include reset-a;

  display: flex;
  align-items: center;

  &__text {
    @include fontset($poppins, 18px, bold, inherit);
  }

  &__icon {
    margin-right: 6px;
  }
}
