@import "../variables";

.hnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 12px auto;

  &__logo {
  }

  &__items {
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    @include reset-a;
    @include poppins24;
    text-transform: uppercase;
    margin-left: 98px;

    &:hover {
      color: $primary-blue;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__text {
    @include poppins18bold;
  }

  &__icon {
    margin-right: 6px;
  }
}
