@import "../variables";

.home {
  margin-bottom: 95px;
  &__offer-banner {
    background: url(../../assets/img/banner.png) center / 100% auto no-repeat;
    background-position: cover;
  }

  &__wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
  }

  &__offer-text {
    @include fontset($poppins, 64px, bold, #fff);

    max-width: 580px;
    letter-spacing: 0.5px;
    margin-top: 23vh;
    margin-bottom: 15vh;
  }

  &__promo-block {
    margin: -90px auto;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }

  &__benefits {
    margin: 105px auto;
  }
  // &__news {
  // }
}

.promo {
  display: flex;

  &__cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.33%;
    border-radius: 5px;
    background-color: $primary-grey;
  }

  &__item-name {
    @include fontset($poppins, 20px, bold, $neutral-dark);

    display: -webkit-box;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 15px 30px;
  }

  &__item-img {
    object-fit: cover;
    width: 380px;
    height: 325px;
  }

  &__prices {
    @include fontset($poppins, 18px, 400, $neutral-grey);

    display: flex;
    align-items: center;
    padding: 15px 30px;
  }

  &__old-price {
    text-decoration: line-through;
    margin-right: 8px;
  }

  &__percent {
    @include fontset($poppins, 18px, bold, $primary-red);

    text-decoration: none;
  }

  &__actual-price {
    @include fontset($raleway, 30px, bold, $primary-blue);

    margin-left: auto;
  }
}

.shopbanner {
  width: 100%;
  background: $primary-blue;
  padding: 180px 0;
  z-index: 1;
  position: relative;

  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__header {
    @include fontset($poppins, 55px, 400, #fff);

    max-width: 595px;
    margin-bottom: 24px;
  }

  &__text {
    @include fontset($poppins, 24px, 400, #fff);

    margin-bottom: 12px;
  }

  &__img {
    position: absolute;
    top: -12%;
    left: 49%;
    z-index: -1;
  }

  &__btn {
    @include reset-button;
    @include fontset($poppins, 20px, 600, #fff);

    text-transform: uppercase;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 73px;
      height: 3px;
      background-color: #fff;
      left: 0;
      top: 114%;
    }
  }
}

.benefits {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 205px;
    height: 270px;
  }

  &__header {
    @include fontset($poppins, 27px, 500, $primary-dark);

    text-transform: uppercase;
  }

  &__text {
    @include fontset($proxima, 18px, 400, $primary-dark);

    text-align: center;
  }
}

.news {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 86px auto 130px;
  }

  &__item {
    display: flex;
  }

  &__img {
    object-fit: contain;
  }

  &__inner {
    margin-left: 35px;
    max-width: 206px;
  }

  &__date {
    @include fontset($poppins, 18px, 500, $alt-grey);
  }

  &__header {
    @include fontset($poppins, 22px, 600, $primary-dark);
  }

  &__text {
    @include fontset($proxima, 18px, 400, $primary-dark);
  }
}
