@import '../variables';

.product-list {
  @include laptop {
    margin: 50px 15px 15px 15px;
  }
  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
  }

  display: flex;
  max-width: 1140px;
  margin: 50px auto 15px auto;
  gap: 30px;
}

.side-panel {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  gap: 34px;
}

.brand-list {
  background-color: $primary-grey;
  padding: 20px;
  border-radius: 3px;

  &__text {
    @include fontset($poppins, 18px, 500, inherit);

    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    &_active * {
      color: $primary-blue !important;
    }
  }

  &__company {
    @include fontset($proxima, 18px, 400, inherit);
  }

  &__goods-count {
    @include fontset($proxima, 18px, 400, $neutral-grey);
  }
}

.price-picker {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $primary-grey;
  border-radius: 3px;

  &__text {
    @include fontset($poppins, 18px, 500, inherit);

    text-transform: uppercase;
  }

  &__ranger {
    @include fontset($proxima, 18px, 400, inherit);

    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__available-prices {
    @include fontset($proxima, 18px, 400, inherit);

    display: flex;
    gap: 5px;
  }
}

.main-list-content {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
}

.sortbar {
  @include laptop {
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-grey;
  border-radius: 3px;
  white-space: nowrap;

  &__selection-items {
    @include laptop {
      flex-wrap: wrap;
      justify-content: center;
    }

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding-left: 22px;
  }

  &__total-count {
    @include fontset($proxima, 16px, 400, inherit);
  }

  &__sort-by-name {
    @include fontset($proxima, 16px, 400, inherit);

    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__select {
    @include fontset($proxima, 16px, 400, inherit);

    border-radius: 3px;
    background-color: transparent;
    border: 2px solid $form-grey;
    padding: 5px;
  }

  &__show-count {
    @include fontset($proxima, 16px, 400, inherit);

    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.view-change {
  display: flex;
  height: 100%;

  &__btn {
    @include reset-button;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;

    &_active {
      background-color: $form-grey;
    }

    &_active * {
      fill: $primary-blue;
    }
  }
}
