@import '../variables';

.goods-line {
  @include laptop {
    margin-right: 15px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;

  &__cart {
    @include laptop {
      flex-wrap: wrap;
    }
    @include phone {
      justify-content: center;
    }

    display: flex;
    gap: 15px;
    border-bottom: 2px solid $hr-color;
    position: relative;
  }

  &__img {
    height: 300px;
    width: 300px;
    max-height: 300px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
  }

  &__title {
    @include fontset($poppins, 24px, 500, $neutral-dark);

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-width: 206px;
    min-height: 54px;
    margin-top: 10px;
  }

  &__rating-tab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid $hr-color;
  }

  &__rating {
    display: flex;
    gap: 5px;
  }

  &__reviews {
    @include fontset($proxima, 14px, 400, $alt-grey);

    white-space: nowrap;
  }

  &__review-submit {
    @include reset-button;
    @include fontset($proxima, 14px, 400, $primary-blue);
  }

  &__info {
    @include fontset($poppins, 14px, 400, $primary-dark);
  }
}

.price-line-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  &__actual-price {
    @include fontset($poppins, 20px, 700, $primary-blue);
  }

  &__old-price {
    @include fontset($poppins, 14px, 400, $neutral-grey);

    text-decoration: line-through;
  }

  &__percent {
    @include fontset($poppins, 14px, bold, $primary-red);
    margin-left: 12px;
  }
}
