@import './componets/all';

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//header
.common-header {
  @include fontset($poppins, 35px, bold, inherit);

  text-align: center;
  text-transform: uppercase;
}

//search input
.search {
  @include laptop {
    margin: 0 15px;
  }
  display: flex;
  justify-content: center;

  &__wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    border: 2px solid $primary-blue;
    border-radius: 5px;
    max-width: 635px;
  }

  &__query {
    @include fontset($proxima, 18px, 400, $primary-dark);

    flex-grow: 1;
    border: none;
    padding-left: 20px;

    &::placeholder {
      @include fontset($proxima, 18px, 400, $neutral-grey);
    }

    &:focus {
      outline: none;
      border: 2px solid black;
    }
  }

  &__submit {
    @include reset-button;
    @include fontset($poppins, 20px, 600, #fff);

    background-color: $primary-blue;
    padding: 14px 26px;
    @include phone {
      padding: 6px 11px;
    }
    &:active {
      @include phone {
        padding: 8px 11px 4px 11px;
      }
      padding: 16px 26px 12px 26px;
    }
  }
}

//banner used in common
.shopbanner {
  width: 100%;
  background: $primary-blue;
  padding: 180px 0;
  z-index: 1;
  position: relative;

  &__img {
    position: absolute;
    top: -10%;
    left: 49%;
    z-index: -1;
    width: 45%;
    height: 90%;
    width: 40%;
  }

  &_inner {
    padding: 55px 0;
  }

  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;

    &_inner {
      max-width: 650px;

      & .shopbanner__header {
        @include fontset($poppins, 30px, 500, #fff);

        max-width: 350px;
        margin-bottom: 24px;
      }

      & .shopbanner__text {
        @include fontset($poppins, 14px, 400, #fff);

        margin-bottom: 25px;
      }

      & .shopbanner__btn {
        @include fontset($poppins, 12px, 600, #fff);
        margin-bottom: 12px;

        &:after {
          width: 38px;
        }
      }
    }
  }

  &__header {
    @include fontset($poppins, 55px, 400, #fff);

    max-width: 595px;
    margin-bottom: 24px;
  }

  &__text {
    @include fontset($poppins, 24px, 400, #fff);

    margin-bottom: 12px;
  }

  &__img {
    position: absolute;
    top: -12%;
    left: 49%;
    z-index: -1;
  }

  &__btn {
    @include reset-button;
    @include fontset($poppins, 20px, 600, #fff);

    text-transform: uppercase;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 73px;
      height: 3px;
      background-color: #fff;
      left: 0;
      top: 114%;
    }
  }
}
.adapted-banner {
  @include laptop {
    display: none;
  }
}

//hot product badge
.hot {
  &:before {
    @include fontset($proxima, 18px, 400, white);

    display: flex;
    justify-content: center;
    align-items: center;
    content: 'HOT';
    background-color: $primary-red;
    position: absolute;
    width: 64px;
    height: 33px;
    border-radius: 3px;
    top: 0;
    left: 0;
  }
}

//+, count items and - buttons container
.counter {
  display: flex;
  justify-content: center;
  &-btn {
    @include fontset($proxima, 16px, 400, $primary-blue);
    @include reset-button;

    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
    background-color: $ligth-blue;
    padding: 20px;

    &_clickable:active {
      padding: 22px 20px 18px 20px;
    }
  }
}

//add to cart & favorite buttons container
.cart-opts {
  &__button-wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__btn {
    @include reset-button;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    gap: 15px;
    background-color: $ligth-blue;

    &:active {
      padding: 16px 14px 12px 14px;
    }
  }

  &__icon {
    height: 17px;
  }

  &__btn-text {
    @include fontset($proxima, 14px, 400, $primary-blue);
  }
}

//Color picker element styles
.color-picker {
  padding: 20px;
  background-color: $primary-grey;
  border-radius: 3px;

  &__text {
    @include fontset($poppins, 18px, 500, inherit);

    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
  }

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__actual {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &__input:checked + &__actual {
    box-shadow: 0px 0px 0px 3px $primary-grey, 0px 0px 0px 6px $neutral-blue;
    -webkit-box-shadow: 0px 0px 0px 3px $primary-grey, 0px 0px 0px 6px $neutral-blue;
    -moz-box-shadow: 0px 0px 0px 3px $primary-grey, 0px 0px 0px 6px $neutral-blue;
  }
}

//Common button styles
.common-btn {
  @include reset-button;
  @include fontset($poppins, 18px, 500, white);

  justify-content: center;
  display: flex;
  padding: 20px;
  background-color: $primary-blue;
  border-radius: 5px;
  &:active {
    padding-top: 22px;
    padding-bottom: 18px;
  }
}
