//colors
$hr-color: #fafbfa;
$primary-blue: #40bfff;
$neutral-blue: #bcddfe;
$primary-red: #fb7181;
$primary-dark: #22262a;
$neutral-dark: #223263;
$neutral-grey: #9098b1;
$primary-grey: #f6f7f8;
$alt-grey: #c1c8ce;
$form-grey: #f1f3f4;
$ligth-blue: #edf7fd;
$sidebar-bg: #363740;
$sidebar-active-link: #9fa2b423;

//fonts
$proxima: Proxima Nova;
$poppins: Poppins;
$raleway: Raleway;

@mixin reset-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

@mixin reset-a {
  text-decoration: none;
}

@mixin fontset($fontfamily, $fontsize, $fontweight, $color) {
  font-family: $fontfamily;
  font-size: $fontsize;
  font-weight: $fontweight;
  color: $color;
}

//media mixins
@mixin phone {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin desktopx {
  @media (max-width: 1800px) {
    @content;
  }
}
