//colors
$hr-color: #fafbfa;
$primary-blue: #40bfff;
$neutral-blue: #bcddfe;
$primary-red: #fb7181;
$primary-dark: #22262a;
$neutral-dark: #223263;
$neutral-grey: #9098b1;
$primary-grey: #f6f7f8;
$alt-grey: #c1c8ce;

//fonts
$proxima: Proxima Nova;
$poppins: Poppins;
$raleway: Raleway;

@mixin reset-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

@mixin reset-a {
  text-decoration: none;
}

@mixin fontset($fontfamily, $fontsize, $fontweight, $color) {
  font-family: $fontfamily;
  font-size: $fontsize;
  font-weight: $fontweight;
  color: $color;
}
