@import "./componets/all";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.common-header {
  @include fontset($poppins, 35px, bold, inherit);

  text-align: center;
  text-transform: uppercase;
}

.search {
  display: flex;
  justify-content: center;
  &__wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    border: 2px solid $primary-blue;
    border-radius: 5px;

    max-width: 635px;
  }
  &__query {
    @include fontset($proxima, 18px, 400, $primary-dark);

    flex-grow: 1;
    border: none;
    padding-left: 20px;

    &::placeholder {
      @include fontset($proxima, 18px, 400, $neutral-grey);
    }
  }
  &__submit {
    @include reset-button;
    @include fontset($poppins, 20px, 600, #fff);

    background-color: $primary-blue;
    padding: 14px 26px;
  }
}
