@import '../variables';

.bestseller {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1140px;
  margin: 90px auto;

  &__navigation {
    @include laptop {
      gap: 35px;
      margin-bottom: 15px;
      align-items: center;
    }

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }

    display: flex;
    margin: 0 auto;
    gap: 70px;
  }

  &__header {
    margin: 30px 0;
  }

  &__link {
    @include tablet {
      margin-bottom: 0px;
    }
    @include reset-a;
    @include fontset($poppins, 22px, 400, inherit);

    text-transform: capitalize;
    margin-bottom: 24px;

    &:hover,
    &_active {
      color: $primary-blue;
      border-bottom: 3px solid $primary-blue;
    }
  }

  &__loadmore {
    @include reset-button;
    @include fontset($poppins, 22px, bold, $primary-blue);

    border-bottom: 3px solid $primary-blue;
    text-transform: uppercase;
  }
}
