@import '../variables';

.footer {
  background-color: $neutral-blue;

  &__wrapper {
    @include laptop {
      justify-content: center;
    }
    @include tablet {
      gap: 100px;
    }
    @include phone {
      margin: 0 15px;
      gap: 25px;
    }
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding: 75px 0;
    gap: 200px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__header {
    @include fontset($poppins, 18px, 500, $primary-dark);

    margin-bottom: 26px;
  }

  &__text {
    @include fontset($proxima, 12px, 400, $primary-dark);

    max-width: 190px;
    margin-bottom: 26px;
  }

  &__socials > * {
    margin-right: 40px;
  }
}
