@import '../variables';

.hnav {
  @include phone {
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include tablet {
    align-items: flex-start;
    margin: 12px auto 15px auto;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 12px auto 90px auto;

  &__items {
    @include tablet {
      justify-content: center;
    }
    @include laptop {
      padding-right: 20px;
    }

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    @include reset-a;
    @include fontset($poppins, 24px, 500, inherit);
    @include phone {
      display: flex;
      margin-left: 20px;
    }
    @include laptop {
      margin-left: 20px;
    }

    text-transform: uppercase;
    margin-left: 75px;

    &:hover {
      color: $primary-blue;
    }
  }
}

.logo {
  @include reset-a;
  @include laptop {
    margin-left: 15px;
  }
  @include phone {
    flex-direction: column;
    justify-content: center;
  }

  display: flex;
  align-items: center;

  & > * {
    @include phone {
      margin-left: 15px;
      width: 100px;
      height: 100px;
    }
  }

  &__text {
    @include fontset($poppins, 18px, bold, $primary-dark);
    @include laptop {
      position: absolute;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      margin: -1px;
    }
    white-space: nowrap;
  }

  &__icon {
    margin-right: 6px;
  }
}
